body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1 !important;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 95vh;
}

.footer {
    margin-top: auto;
    min-height: 5vh;
    flex-shrink: 0
}

.footer-text {
    font-size: 14px;
}

.footer-link {
    text-decoration: none;
    font-weight: 600;
    color: black
}

.footer-link:hover {
    text-decoration: underline;
    color: black
}