.row.start {
    min-height: 95vh;
    height: 100%;
    align-items: center;
}

input {
    min-width: 500px;
}

.search-button {
    padding: 5px 40px 5px 40px;
    background-color: black;
    border-radius: 0 5px 5px 0;
    border-color: black;
    color: white;
}

.app-title {
    font-size: 70px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: black !important;
    box-shadow: none !important;
}